<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Navbar -->
<th:block th:include="fragments/navbar.html"></th:block>
<!-- Navbar end -->

<main>

    <p class="display-4 my-4 text-center">Update travel</p>
    <hr />

    <div class="container mt-5">
        <div class="row">
            <form th:action="@{/travel/update/{travelId}(travelId=${travelId})}"
                  th:object="${travelUpdateRequest}"
                  method="post"
                  class="col-6 offset-3">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="Enter value for title...">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input th:field="*{description}" type="text" class="form-control" id="description"
                           placeholder="Enter value for description...">
                </div>
                <div class="form-group">
                    <label for="photoUrl">Photo URL</label>
                    <input th:field="*{photoUrl}" type="text" class="form-control" id="photoUrl" placeholder="Enter value for photo url...">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>

</main>

</body>
</html>